name: Build Cryptlex.LexActivator package

on:
  workflow_dispatch:
    
jobs:
  build-publish:
    runs-on: windows-2022
    steps:
    - uses: actions/checkout@v2
    - run: git pull origin main --ff-only
      
    - name: Setup NuGet
      uses: nuget/setup-nuget@v1
      with:
        nuget-api-key: ${{ secrets.NUGET_API_KEY }}
        nuget-version: '5.8.1'
      
    - name: Restore NuGet Packages
      run: nuget restore Cryptlex.LexActivator.sln
      
    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v2
    
    - name: Build Solution
      run: msbuild Cryptlex.LexActivator.sln /p:platform="Any CPU" /p:configuration="Release" /p:VisualStudioVersion="17.0"
    
    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v3
      with: 
        credentials_json: ${{ secrets.GCP_KMS_SIGNER_KEY }}

    - name: Setup Google Cloud SDK
      uses: google-github-actions/setup-gcloud@v1
      with:
        version: 'latest'
        install_components: 'gcloud'

    - name: Run code signing script
      shell: powershell
      run: |
          .\code-sign.ps1 -SignType "dll"

    - name: Download Native Libs
      run: .\post-build.ps1
      shell: powershell
      
    - name: Pack NuGet Package
      run: nuget pack src\Cryptlex.LexActivator\Cryptlex.LexActivator.nuspec -NonInteractive -OutputDirectory nupkg -Properties Configuration=Release -Verbosity Detailed
    
    - name: Run NuGet package code signing script
      shell: powershell
      run: |
          .\code-sign.ps1 -SignType "nupkg"

    - name: Push NuGet Package
      run: nuget push nupkg\*.nupkg -SkipDuplicate -Source https://api.nuget.org/v3/index.json -NoSymbols

