name: Build Cryptlex.LexActivator package

on:
  workflow_dispatch:
    inputs:
      libraryVersion:
        description: 'Library Version'
        required: true
        default: ''
      packageVersion:
        description: 'Package Version'
        required: true
        default: ''

jobs:
  update-version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          persist-credentials: false
      
      - name: Update Package Version
        run: |
          sed -i '/<version>/!b;c \ \ \ \ <version>${{ github.event.inputs.packageVersion }}</version>' ./src/Cryptlex.LexActivator/Cryptlex.LexActivator.nuspec    
      
      - name: Update Library Version
        run: |
          sed -i '/lexactivator_version =/!b;c$lexactivator_version ="v${{ github.event.inputs.libraryVersion }}"' post-build.ps1
     
      - name: Commit and Tag
        run: |
          git add ./src/Cryptlex.LexActivator/Cryptlex.LexActivator.nuspec
          git add post-build.ps1
          git config --local user.email "github-actions@users.noreply.github.com"
          git config --local user.name "github-actions"
          git commit -m "updated version" | exit 0
          git tag ${{ github.event.inputs.packageVersion }}    
      
      - name: Push Changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          tags: true  
     
  build-publish:
    needs: update-version
    runs-on: windows-2019
    steps:
    - uses: actions/checkout@v2
      
    - name: Setup NuGet
      uses: nuget/setup-nuget@v1
      with:
        nuget-api-key: ${{ secrets.NUGET_API_KEY }}
        nuget-version: '5.x'
      
    - name: Restore NuGet Packages
      run: nuget restore Cryptlex.LexActivator.sln
      
    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v1.0.2
    
    - name: Build Solution
      run: msbuild Cryptlex.LexActivator.sln /p:platform="Any CPU" /p:configuration="Release" /p:VisualStudioVersion="16.0"
    
    - name: Download Native Libs
      run: .\post-build.ps1
      shell: powershell
      
    - name: Pack NuGet Package
      run: nuget pack src\Cryptlex.LexActivator\Cryptlex.LexActivator.nuspec -NonInteractive -OutputDirectory nupkg -Properties Configuration=Release -Verbosity Detailed
    
    - name: Push NuGet Package
      run: nuget push nupkg\*.nupkg -SkipDuplicate -Source https://api.nuget.org/v3/index.json -NoSymbols

